


/******************************************************************************/
/******************************************************************************/
/* #region Pacifico Font */

@font-face {
    font-family: 'Pacifico';
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Righteous';
    src: url(../fonts/righteous_5.2.6_latin-400-normal.woff2);
}
/* #endregion Pacifico Font */
/******************************************************************************/
/******************************************************************************/


