/* Global CSS */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* Main CSS */


/* background-image */

.div1 {
    width: 600px;
    height: 400px;
    background-color: violet;
    color: whitesmoke;

    /* background-img */

    background-image: url(../images/full-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    /*
    full pic with best quality
    Think of it like fitting a photo into 
    a frame without cutting off any parts.
    */
    background-size: cover;
    /*
    cover full div + no stretch
    Think of it like zooming in on a photo 
    until it fills the entire frame, even if edges get cut off.
    */

    background-position: center center;

    background-attachment: fixed;
    /* 
    Key Behavior
    -- The background image is locked to the viewport 
        (visible screen area).
    -- Content scrolls over the image (creates a "parallax" effect).
    -- The image does not move when you scroll.
    */

    background-attachment: scroll; /*default state*/
}


.div21{
    height: 200px;
    background-image: url(../images/clem-onojeghuo.jpg);
    /* Size, postion, attachment, repeat*/
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.div22{
    height: 300px;
    background-image: url(../images/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Border */


.div3{
    height: 400px;
    width: 600px;

    background-color: aquamarine;
    margin: 0px 150px;

    border-top: 10px solid black ;
    border-right: 10px dashed red;
    border-bottom: 10px solid green;
    border-left: 10px dotted gray;

    /* border shorthand */
    border: 20px solid violet;

}