/*****************************/
/*****************************/
/* #region global CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --bg: #00072d; /* middle color Dominant background */
    --surface: #001c55; /* 1st right Cards/surfaces */
    --buttons: #0a2472; /* 2nd right Interactive elements */
    --accent: #0e6ba8; /* 1st left For highlights */
    --text: #a6e1fa; /* 2nd left Primary text */

    /* Optional extended palette */
    --success: #4caf50; /* Positive actions */
    --warning: #ffc107; /* Caution states */
    --error: #f44336; /* Destructive actions */
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Alegreya Sans", serif;
    font-size: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 15px 0px;
    font-family: "Playwrite IT Moderna";
    font-weight: 400;
    text-transform: capitalize;
}

p {
    padding-left: 15px;
    font-family: "Alegreya", serif;
    font-size: medium;
    text-transform: capitalize;
}

.container {
    background-color: var(--surface);
    width: 75%;
    margin: auto;
}

.clear-fix {
    clear: both;
}

a {
    color: var(--text);
    font-style: italic;
    white-space: nowrap;
    display: block;
    background-color: var(--bg);
}

.nav-bar {
    /* width: 80px; */
    position: fixed;
    top: 10px;
    left: 0px;
}
/* #endregion */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region ScrollBar CSS */

/* ////////// SCROLL BAR CSS */
/* Firefox (version 64+) */
html {
    scrollbar-width: thin; /* auto | thin | none */
    scrollbar-color: rgba(51, 51, 51) rgba(0, 0, 0, 0.452); /* thumb | track */
}
/* For Chrome/Safari/Edge */
::-webkit-scrollbar {
    width: 1px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
    background: rgba(187, 15, 15, 0.1); /* Semi-transparent track */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent thumb */
    border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Darker on hover */
}

/* #endregion */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region topic 1- Overflow */

.overflow-applying-section {
    width: 100%;
}
.overflow-applying-section .overflow-test1 {
    margin-top: 20px;
    width: calc(100% / 3);
    height: 250px;
    background-color: var(--buttons);
    float: left;
}

.overflow-applying-section .overflow-test2 {
    margin-top: 20px;
    width: calc(100% / 3);

    width: 350px;
    height: 250px;
    background-color: var(--buttons);
    float: left;

    overflow: scroll;
}

.overflow-applying-section .overflow-test3 {
    margin-top: 20px;
    width: calc(100% / 3);
    height: 250px;
    background-color: var(--buttons);
    float: left;

    overflow: hidden;
}
.overflow-applying-section .overflow-test4 {
    margin-top: 20px;
    width: calc(100% / 3);
    height: 250px;
    background-color: var(--buttons);
    float: left;

    overflow: auto;
}
/* #endregion */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region 2-how to hide_elements */

.hide_elements-applying-section .test1 {
    display: none;
}
.hide_elements-applying-section .test2 {
    visibility: hidden;
}
.hide_elements-applying-section .test3 {
    opacity: 0;
}
/* #endregion */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region 4-Hover */

.hover-applying-section {
    width: 100%;
    /* height: 400px; */
}
.hover-applying-section .test1 {
    width: 200px;
    margin: auto;
    /* height: 100px; */
    background-color: var(--accent);
}
.hover-applying-section .test1:hover {
    background-color: var(--success);
    cursor: pointer;
}

.hover-applying-section .test2 {
    margin: 20px 0px;
    width: 300px;

    float: right;
    background-color: var(--warning);
    opacity: 0;
}
.hover-applying-section .test2:hover {
    color: var(--bg);
    cursor: pointer;
    opacity: 1;
}
.hover-applying-section .test3 {
    width: 300px;
    float: left;
    margin: 20px 0px;

    opacity: 0;
}

.hover-applying-section .test3:hover {
    background-color: var(--error);
    opacity: 1;
    color: var(--text);
    cursor: grabbing;
}
/* #endregion */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region topic 5- transition */

/*****************************/
/*****************************/
/* #region test1 */

.transition-properties-applying-section .test1 {
    height: 150px;
}
.transition-properties-applying-section .test1-1 {
    width: 300px;
    height: 8px;
    overflow: auto;
    background-color: var(--accent);
    color: var(--accent);
    transition: width 1s, background-color 1s 0.5s, color 0.5s 1.5s, height 1s;
}

.transition-properties-applying-section .test1-1:hover {
    width: 100%;
    height: 100px;
    background-color: var(--warning);
    color: var(--bg);
    cursor: pointer;
}

/* #endregion */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region test2 */

.transition-properties-applying-section .test2 {
    height: 200px;
    /* background-color: var(--success); */
}
.transition-properties-applying-section .test2 .item {
    border: 1px solid black;
    text-align: center;
    width: 25%;
    height: 200px;
    background-color: var(--accent);
    float: left;
    position: relative;
}
.transition-properties-applying-section .item .container {
    height: 100%;
}
.transition-properties-applying-section .test2 .layer {
    height: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    position: absolute;
    bottom: 0;
    left: 0;

    transition: height 0.5s 0s linear;
}
.transition-properties-applying-section .test2 .container:hover .layer {
    height: 100%;
}

/* #endregion */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region test3 */
.transition-properties-applying-section .test3 .container {
    width: 80%;
    margin: auto;
}

.transition-properties-applying-section .test3 .card {
    width: calc(90% / 3);
    background-color: rgb(95, 24, 182);
    text-align: center;
    margin: 20px 10px;
    padding: 30px 10px;
    float: left;
    position: relative;
}
.transition-properties-applying-section .test3 .card .title {
    color: var(--text);
}

.transition-properties-applying-section .test3 .card .layer {
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.388);
    position: absolute;
    top: 0;
    left: 0;

    transition: height 0.7s 0s ease-in-out;
}
.transition-properties-applying-section .test3 .card:hover .layer {
    height: 100%;
}

/* #endregion */
/*****************************/
/*****************************/

/* #endregion */
/*****************************/
/*****************************/
