/*****************************/
/*****************************/
/* #region Global CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --bg: #D6A99D; /* middle color Dominant background */
    --surface: #FBF3D5; /* 1st right Cards/surfaces */
    --buttons: #ddf2eb; /* 2nd right Interactive elements */
    --accent: #D6DAC8; /* 1st left For highlights */
    --text: #52645f; /* 2nd left Primary text */

    /* Optional extended palette */
    --success: #4caf50; /* Positive actions */
    --warning: #ffc107; /* Caution states */
    --error: #f44336; /* Destructive actions */
}
.my-bg{
    background-color: var(--bg)
}
.surface-bg{
    background-color: var(--surface);
}
.buttons-bg{
    background-color: var(--buttons);
}
.accent-bg{
    background-color: var(--accent);
}
.text-clr{
    color: var(--text);
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: "Alegreya Sans", serif;
    font-size: medium;
}

h1{
    text-align: center;
    margin: 15px 0px;
    font-family: "Playwrite IT Moderna";
    font-weight: 400;
    text-transform: capitalize;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playwrite IT Moderna";
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

p {
    padding-left: 15px;
    font-family: "Alegreya", serif;
    font-size: medium;
}


a {
    text-decoration: none;
    display: block;
    font-style: italic;
    text-align: center;
    color: var(--text);
}


/* #endregion Global CSS */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region nav-bar */

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;

    font-size: 16px;
    font-weight: 600;
    overflow: auto;

    width: 15%;
    height: 90%;

    /* background-color: var(--buttons); */
}
.nav-bar h4 {
    font-weight: 800;
}
.nav-bar a {
    text-align: left;
    font-size: 20px;
    margin: 10px 0px;
    padding-left: 8px;
}

.navbar .dropdown-item{
    color: white;
}
.navbar .dropdown-item:hover{
    background-color: var(--accent);
    color: black;
}
/* #endregion nav-bar */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region nav-bar-icons */

.nav-bar-icons .fa-facebook:hover {
    color: rgb(31, 109, 243) !important; 
    transform: scale(1.3);
}
.nav-bar-icons .fa-linkedin:hover {
    transform: scale(1.3);
    color: rgb(0, 0, 168)!important;
}
.nav-bar-icons .fa-x-twitter:hover {
    transform: scale(1.3);
    color: rgb(174, 174, 177)!important;
}
.nav-bar-icons .fa-google:hover {
    transform: scale(1.3);
    color: rgb(219, 63, 99)!important;
}
.nav-bar-icons .fa-github:hover {
    transform: scale(1.3);
    color: rgb(200, 200, 200)!important;
}
/* #endregion nav-bar-icons */
/*****************************/
/*****************************/