/*****************************/
/*****************************/
/* #region Global CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --bg1: #eeeeee;
    --bg2: #ffffff;

    --buttons: #ce1212;
    --text: #212529;

    --highlight: #e61414;
    --selection: #dd5959;

    --navbar: #ffffff;
    --footer: #100e0f;
    --hidden-navbar-text: #7f7f90;
}

body {
    background-color: var(--bg1);
    color: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    /* overflow: hidden !important; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter_18pt-Regular";
    text-transform: capitalize;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: medium;
}

span {
    font-family: "AmaticSC-Regular";
}

.container {
    background-color: var(--surface);
    width: 90%;
    margin: auto;
    /* border: 3px solid blue; */
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

::selection {
    background-color: var(--selection);
    color: var(--bg2);
}

ul {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.navbar-placeholder {
    /* height: 80px; */
}
/* #endregion Global CSS */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region logo */

.header {
    background-color: var(--navbar);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    /* background-color: yellow; */
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 5px;
}

.logo a span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: normal;
    color: var(--text);
    text-transform: capitalize;
}
.logo a span span {
    color: var(--buttons);
    padding: 0;
    margin: 0;
}

/* #endregion logo */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region header-btns */

#light-on #light-on-icon {
    color: var(--text);
    background-color: var(--navbar);
}

#dark-on #dark-on-icon {
    color: var(--text);
    background-color: var(--navbar);
}
.header .container .btns .darkmode-btns {
    position: relative;
}
.header .container .btns .darkmode-btns #dark-on {
    border: none;
    /* margin-top: 20px; */
    font-weight: 400;
    line-height: 25px;

    font-size: 28px;
    padding: 2px 5px;
    border: none;
    background-color: var(--navbar);
}
.header .container .btns .darkmode-btns #light-on {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    /* margin: 0px 20px; */
    vertical-align: middle;
    font-weight: 400;
    line-height: 25px;

    font-size: 28px;
    padding: 2px 5px;
    border: none;
    background-color: var(--navbar);
}
#dark-on:hover,
#light-on:hover {
    cursor: pointer;
}

.header .container .btns .nav-btn {
    font-weight: 900;
    font-size: 31px;
    line-height: 31px;
    border: none;
    background-color: var(--navbar);
}

/* #endregion header-btns */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region visiable navbar-links */

.header .container .navbar-links {
    /* background-color: red; */
    /* display: none; */
}

.header .container .btns {
    display: flex;
}

.header .container .navbar-links a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 21px;
    line-height: normal;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0px 10px;
}

/* #endregion visiable navbar-links */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region hidden navbar */
.header .container .btns .nav-btn {
    /* display: none; */
    margin-left: 20px;
}
.navbar {
    background-color: var(--navbar);
    height: 100vh;
    width: 95vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 301;
    transform: translateX(110%);
    transition: transform 0.5s;
}

.header .hidden .navbar .links {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 40px 15px;
    text-transform: capitalize;
}
.header .hidden .navbar .links .x-btn,
a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    font-size: 21px;
    font-weight: 600;
    color: #7f7f90;
}
.header .hidden .navbar .links .x-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    padding: 15px 15px;
    border: none;
    background-color: var(--navbar);
}

/* #endregion hidden-navbar */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region Home section */
.home-section {
    margin-top: 80px;
    padding-top: 50px;
}
.home-section .container{
    padding: 40px 0px;
}
.home-section .left-side {
    width: 45%;
}
.home-section .right-side {
    width: 40%;
}
.home-section .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-section .left-side .text h2 {
    font-family: "AmaticSC-Regular";
    font-size: 81px;
    font-weight: 700;

    padding-bottom: 20px;
}

.home-section .left-side .text p {
    padding-bottom: 30px;
}
.home-section .left-side .btns-container .btn1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 19px;
    font-weight: 400;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    border-top-left-radius: 5px;
    background-color: var(--buttons);
}
.home-section .left-side .btns-container .btn1 a {
    color: var(--bg1);
}
.home-section .left-side .btns-container .btn1:hover {
    background-color: var(--highlight);
    cursor: pointer;
}
.home-section .left-side .btns-container {
    display: flex;
    flex-wrap: wrap;
}
.home-section .left-side .btns-container .video-btn {
    position: relative;
    margin-left: 50px;
}
.home-section .left-side .btns-container .video-btn button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 900;
    border: none;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    border-top-left-radius: 5px;
    background-color: var(--bg1);
}
.home-section .left-side .btns-container .video-btn a{
    color: var(--text);

}
.home-section .left-side .btns-container .video-btn .icon {
    position: absolute;
    top: 20%;
    left: 10%;
}
.home-section .left-side .btns-container .video-btn .icon a i {
    font-size: 40px;
    line-height: 20px;
    font-weight: 900;
    color: var(--bg2);
    background-color: var(--text);
    border-radius: 50%;
}

.home-section .left-side .btns-container .video-btn .half-circle {
    border: 10px solid var(--buttons);
    position: absolute;
    top: -80%;
    left: -30%;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    clip-path: inset(0 50% 0 0);
}

.home-section .left-side .btns-container .video-btn button:hover a{
    color: var(--highlight);
}
.home-section .left-side .btns-container .video-btn button:hover .icon a i{
    background-color:  var(--highlight);
}
/* #endregion Home section */
/*****************************/
/*****************************/
