/*****************************/
/*****************************/
/* #region Global CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --bg1: #eeeeee;
    --bg2: #ffffff;
    --buttons: #ce1212;
    --text: #212529;
    --accent: #e61414;
    --navbar: #ffffff;
    --footer: #100e0f;
}

body {
    background-color: var(--bg1);
    color: var(--text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: "Inter_18pt-Regular";
    text-transform: capitalize;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: medium;
    text-transform: capitalize;
}

span {
    font-family: "AmaticSC-Regular";
}

.container {
    background-color: var(--surface);
    width: 85%;
    margin: auto;
}

a {
    text-decoration: none;
}

img{
    width: 100%;
    display: block;
}

::selection {
    background-color: var(--accent);
    color: var(--bg2);
}

/* #endregion */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region light-dark-switch */

.light-dark-switch {
    position: relative;
}

#light-on #light-on-icon {
    color: var(--text);
    background-color: var(--navbar);
}

#dark-on #dark-on-icon {
    color: var(--text);
    background-color: var(--navbar);
}

#dark-on,
#light-on {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 400;
    line-height: 25px;
}

#dark-on:hover,
#light-on:hover {
    cursor: pointer;
}

/* #endregion light-dark-switch */
/*****************************/
/*****************************/
