* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/******************************************************************************/
/******************************************************************************/
/* #region Global Styling */

.my-primary-bg {
    background-color: #1e202b;
}
.my-secoundy-bg {
    background-color: #323544;
}
.my-btn-bg {
    background-color: #009ad8;
}

.my-primary-text {
    color: #1e202b;
}
.my-secoundy-text {
    color: #ffd6e0;
}
.my-btn-text {
    color: #009ad8;
}
.gradient-desing2-right-bottom {
    background: linear-gradient(to right bottom, #4d5ca2, #eb718f);
}

.my-bg-danger {
    background-color: #2c0b0e;
}

.my-bg-success {
    background-color: #004928;
}
.my-text-sucess {
    color: #55b298;
}

/* #endregion Global Styling */
/******************************************************************************/
/******************************************************************************/

/******************************************************************************/
/******************************************************************************/
/* #region header */
.my-header-bg {
    background: linear-gradient(to right, #484d84, #b582a9);
}
.header-text-gradient {
    background: linear-gradient(to right, #b1a1a5, #fae0e6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.2rem;
    padding: 0.31rem;
    vertical-align: center;
    font-weight: bold;
    display: inline-block;
}
.logo img {
    font-size: 14px;
    width: 3.75rem;
}
.navbar-toggler:focus {
    outline: 3px solid #e0bcc5 !important;
    color: #ffd6e0 !important;
}
.navbar-toggler:hover {
    outline: 3px solid #e0bcc5;
    color: #ffd6e0;
}
.navbar-nav a {
    text-decoration: none;
    color: #1f245c;
    font-size: 0.875rem;
    transition: ease 0.25s all;
}

.navbar-nav a:focus {
    outline: 3px solid #e0bcc5;
    color: #ffd6e0;
    /* color: #ffd6e0; */
}
.navbar-nav a.active {
    outline: 3px solid #e0bcc5;
    color: #ffd6e0 !important;
}
.navbar-nav a:hover {
    outline: 3px solid #e0bcc5;
    color: #ffd6e0;
}

/* #endregion header */
/******************************************************************************/
/******************************************************************************/

/******************************************************************************/
/******************************************************************************/
/* #region Search Section */

.search-Input {
    outline: none;
    border: 0;
}
.search-Input:focus {
    border: 0.0625rem solid red;
}
.my-input-style {
    background-color: #8c92a8;
    outline: none;
    border: 0;
}

.my-input-style:focus {
    background-color: #959bb2;
    border: 0;
    outline: #eb718f;
    box-shadow: 0 0 0 0.25rem rgb(235, 113, 143, 0.25);
}

.custom-search-floating {
    position: relative;
}
.custom-search-floating input {
    width: 100%;
    height: 3rem;
    padding: 0.7rem;
    border-radius: 50px;
    border: 1px solid #4d5ca2;
    background-color: rgb(127, 111, 180);
    transition: ease 0.2s all;
}
.custom-search-floating input:focus {
    outline: none;
    box-shadow: 0 0 10px 3px rgba(79, 62, 141, 0.7);
}
.custom-search-floating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.7rem;
    pointer-events: none;
    transition: 0.2s ease all;
    font-weight: 500;
}

.custom-search-floating input:focus + label,
.custom-search-floating input:not(:placeholder-shown) + label {
    transform: scale(0.8) translateY(-0.6rem) translateX(0.1rem);
    opacity: 0.7;
}

.find-btn {
    position: absolute;
    right: 0.1rem;
    height: 2.8rem;
    width: 6rem;
    background-color: rgb(75, 58, 134);
    color: black;
    color: #fae0e6;
    border: 0;
    transition: all 0.25s ease;
}
.find-btn:hover {
    background-color: rgb(101, 79, 180);
    color: #de7d95;
    color: black;
}
.my-find-bg {
    background: linear-gradient(to right, #484d84, #b582a9);
}
.my-find-bg:hover {
    background: linear-gradient(to right, #b582a9, #484d84);
}

/* #endregion Search Section */
/******************************************************************************/
/******************************************************************************/

/******************************************************************************/
/******************************************************************************/
/* #region forecast section */

.fs-68 {
    font-size: 70px;
}
.condition-icon {
    width: 80px;
}

.glass-bg {
    background-color: rgba(255, 255, 255, 0.15);
}
.glass-darker-bg {
    background-color: rgba(248, 249, 252, 0.25);
}

/* #endregion forecast section */
/******************************************************************************/
/******************************************************************************/

/******************************************************************************/
/******************************************************************************/
/* #region Footer Section */

footer .links li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #945d88;
    margin: 2px;
    transition: 0.25s ease all;
}
footer .links li a {
    color: black;
    transition: 0.25s ease all;
}
footer .links li:hover,
footer .links li:hover a {
    background-color: #b171a4;
    color: #ffd6e0;
}

.my-footer-bg {
    /* background-color: #C06485; */
    /* background-color: #815986; */
    background: linear-gradient(to right, #8a5f90, #c06485);
}

.custom-footer-floating {
    position: relative;
}
.custom-footer-floating input {
    width: 100%;
    height: 3rem;
    padding: 0.7rem;
    border-radius: 50px;
    border: 1px solid #6e4565;
    background-color: #a86d9b;
    transition: ease 0.2s all;
}
.custom-footer-floating input:focus {
    outline: none;
    box-shadow: 0 0 10px 3px rgba(110, 69, 101, 0.7);
}
.custom-footer-floating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0.7rem;
    pointer-events: none;
    transition: 0.2s ease all;
    font-weight: 500;
}

.custom-footer-floating input:focus + label,
.custom-footer-floating input:not(:placeholder-shown) + label {
    transform: scale(0.8) translateY(-0.6rem) translateX(0.1rem);
    opacity: 0.7;
}

.subscribe-btn {
    position: absolute;
    right: 0.1rem;
    height: 2.8rem;
    width: 6rem;
    background-color: #945d88;
    color: black;
    border: 0;
    transition: all 0.25s;
}
.subscribe-btn:hover {
    background-color: #b171a4;
    color: #ffd6e0;
}

/* #endregion Footer Section */
/******************************************************************************/
/******************************************************************************/

/******************************************************************************/
/******************************************************************************/
/* #region masonry layout */

.masonry-container {
    column-count: 3;
}

/* #endregion masonry layout */
/******************************************************************************/
/******************************************************************************/

/* TODO: 
1- navbar DONE
2-active state DONE
3- shine effect
4- rotaing glow on the today section
 */
