
.sec1{
    background-color: bisque;
}

.sec2{
    background-color: darkgoldenrod;
        background-color: rgba(255, 255, 66, 0.05);
        background-color: rgba(127,255,127,0.05);
        background-color: rgba(255,127,255,0.05);
        background-color: rgba(79,236,236,0.05);
        background-color: rgba(199, 79, 236, 0.05);

    background-color: #e6b422;
    background-color: #c70067;
    background-color: #00a960;
    background-color: #fc7482;


}

