/*****************************/
/*****************************/
/* #region Global CSS */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Code";
}
body {
    font-family: "Roboto";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}
.container {
    width: 90%;
    margin: auto;
    /* border: 2px solid black; */
}
.clear-fix {
    clear: both;
}
.nav-bar-holder {
    /* position: relative; */
    height: 70px;
    width: 100%;
    /* background-color: rgba(255, 0, 0, 0.5); */
}
.clip-right-bottom-diagonal {
    clip-path: polygon(0 0, 100% 0, 0 100%);
}
.clip-right-side {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
.active-button {
    transform: scale(1.3);
    background-color: #ff305b;
}
/* #endregion Global CSS */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region Home-section */

.home-section .container {
    width: 100%;
}
.home-section {
    width: 100%;
    height: 100vh;
    background-color: white;

    text-align: center;
    text-transform: capitalize;
    background-image: url(../images/hero_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;

    position: relative;
}
/* ///////// */
.home-section .nav-bar .container {
    width: 90%;
    margin: auto;
}
.nav-bar {
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
}
/* ///////// */
.home-section .nav-bar .logo {
    display: block;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    float: left;
}
.home-section .nav-bar .logo a {
    color: rgb(255, 48, 89);
    font-size: 24px;
    line-height: 25px;
    text-decoration: none;
    font-family: "Roboto-Regular";
    font-weight: 800;
    font-size: 24px;
    line-height: 25px;
}
/* ///////// */
.nav-bar-links {
    display: inline;
    float: right;
}
.nav-bar .nav-bar-links a {
    display: block;
    float: left;

    margin: 0px 12px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    text-decoration: none;
    color: rgba(255, 255, 255);

    font-family: "Roboto-Light";

    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    transition: color 0.5s;
}
.nav-bar a:hover {
    color: #ff305b;
}
/* ///////// */
.home-section-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}
.home-section-details h1 {
    color: #ff305b;
    font-family: "SourceSansPro-Semibold";
    font-weight: 700;
    font-size: 70px;
    line-height: 77px;
    text-transform: uppercase;
}
.home-section-details h3 {
    font-family: "SourceSansPro-Regular";
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
}
.home-section-details h4 {
    font-family: "SourceSansPro-Light";
    font-weight: 300;
    font-size: 26px;
    line-height: 31px;
}
/* #endregion Home-section */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region About-Section */

.about-section {
    width: 100%;
    /* height: 100vh; */
    background-color: white;
}

.about-section .pic-section {
    width: 48%;
    height: 100%;
    float: left;
    padding: 60px;
    /* background-color: black; */
}

.img-border {
    position: relative;
    border: 8px solid #555555;
    width: 85%;
    margin-left: 50px;
}
.about-section .image img {
    border-radius: 10px;
    /* width: 90%; */
}
.about-section .image {
    transform: translate(25px, 25px);
    border-radius: 10px;
    overflow: hidden;
}
.about-section .image .layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform 1s;
}
.about-section .image:hover .layer {
    transform: translateY(0);
}

.about-section .image .layer .layer-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.about-section .image .layer .layer-icons i {
    margin: 10px;
    color: #ffffff;
    display: block;
    float: left;
}
.about-section .image .layer .layer-icons a:hover i {
    color: #ff305b;
    /* transform: scale(1.2); */
}
.about-section .info-section {
    width: 50%;
    float: left;
    height: 100%;
    text-align: left;
    /* background-color: lightblue; */
}
.about-section .info-section .title h2 {
    font-family: "SourceSansPro-Semibold";
    font-size: 32px;
    line-height: 22px;
    /* word-spacing: 6px; */
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    font-family: "SourceSansPro-Regular";
    border-left: 5px solid #ff305b;
    padding-left: 10px;
    color: #333333;
}
.about-section .info-section .title p {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.about-section .info-section .title {
    margin: 50px 0px 0px 0px;
    font-size: 16px;
    line-height: 25px;
}

.about-section .info-section li {
    list-style: none;
    display: inline-block;
    width: 45%;
    margin-bottom: 20px;
    font-family: "Roboto-Regular";
    font-size: 16px;
    line-height: 16px;
}
.about-section .info-section span {
    font-family: "Roboto-Regular";
    font-size: 16px;
    line-height: 16px;
}

.about-section .btn {
    border-radius: 5px;
    padding: 14px 22px;
    margin: 10px 5px 0px 5px;

    color: white;
    background-color: #ff305b;
    border: none;
    font-family: "Roboto-Regular";

    transition: background-color 0.5s;
}

.about-section .btn:hover {
    cursor: pointer;
    background-color: red;
}
/* #endregion About-Section */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region services-section */

.services-section {
    width: 100%;
    height: 90vh;
    background-color: #f1f1f1;
    text-align: center;
}
.services-section .container {
    height: 100%;
}

.services-section .services-cards {
    margin: 50px 0px;
}
.services-section .title h2 {
    font-family: "SourceSansPro-Semibold";
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    color: #333333;
}
.services-section .title .border {
    border-top: 1.5px solid #ff305b;
    width: 15%;
    margin: auto;
    position: relative;
}
.services-section .title .border::after {
    content: "";

    width: 50%;
    border-top: 1px solid #ff305b;
    /* margin-top: 5px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 4px);
}
.services-section .title .border::before {
    content: "";

    width: 50%;
    border-top: 1px solid #ff305b;
    margin-bottom: 15px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -6px);
}

.services-section .card {
    width: 25%;
    text-align: center;
    /* border: 1px solid black; */
    float: left;
    transition: background-color 0.5s;
}
.services-section .card .container {
    padding: 40px 0px;
}
.services-section .card:hover {
    background-color: #ffffff;
}
.services-section .card:hover .icon {
    transform: scale(1.2);
}
.services-section .card .icon {
    /* font-size: 26px; */
    /* display: block; */
    display: inline-block;
    margin: 10px 0px;
    width: 15%;
    color: #ff305b;
    transition: transform 0.5s;
}
.services-section .card .card-title {
    font-family: "SourceSansPro-Regular";
    text-transform: uppercase;
    margin: 10px 0px;
    font-weight: 900;
    font-size: 24px;
    line-height: 26px;
}
.services-section .card .card-details p {
    text-align: center;
    /* margin: 0px 20px; */
    padding-top: 10px;
    /* font-family: "Roboto-Black"; */
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

/* #endregion services-section */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region portfolio-section */

.portfolio-section {
    width: 100%;
    /* height: 100vh; */
    background-color: white;
    text-align: center;
}

.portfolio-section .title h2 {
    font-family: "SourceSansPro-Semibold";
    font-size: 40px;
    line-height: 30px;
    font-weight: 800;
    color: #333333;
}
.portfolio-section .title .border {
    border-top: 1.5px solid #ff305b;
    width: 15%;
    margin: auto;
    position: relative;
}
.portfolio-section .title .border::after {
    content: "";

    width: 50%;
    border-top: 1px solid #ff305b;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 4px);
}
.portfolio-section .title .border::before {
    content: "";

    width: 50%;
    border-top: 1px solid #ff305b;
    margin-bottom: 15px;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -6px);
}
.portfolio-section .buttons .btn {
    font-family: "SourceSansPro-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
    padding: 3px 15px;
    border: none;
    background-color: transparent;

    text-transform: uppercase;

    transition: color 0.5s;
}
.portfolio-section .btn:hover {
    color: #ff305b;
    cursor: pointer;
}

.portfolio-images .container {
    width: 100%;
    position: relative;
}
.portfolio-section .portfolio-images .image {
    width: 30%;
    float: left;
    padding: 0px 15px;
    margin: 15px 0px;
}

.portfolio-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    transition: opacity 0.5s;
}
.portfolio-section .portfolio-images .image:hover .portfolio-layer {
    opacity: 1;
    cursor: pointer;
}
.portfolio-images .image .portfolio-layer .icon {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
/* #endregion portfolio-section */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region stats-section */

.stats-section {
    /* background-color: green; */
    width: 100%;
    /* height: 400px; */
    text-align: center;
}
.stats-section .stats {
    width: 100%;
    background-color: #f1f1f1;
}
.stats-section .stats .card {
    width: 25%;
    float: left;
    padding: 100px 0px;
}
.stats-section .stats .card .image-icon {
    width: 48px;
    height: 48px;
    margin: 10px auto;
}
.stats-section .stats .card .image-icon img {
    width: 90%;
}

.services-section .stats .card .image-icon i {
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
}
.stats-section .stats .card h3 {
    font-family: "SourceSansPro-Regular";
    font-weight: 800;
    font-size: 26px;
    line-height: 29px;
    padding-bottom: 15px;
}
.stats-section .stats .card h5 {
    font-family: "SourceSansPro-Light";
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
}

/* #endregion stats-section */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region testimonial-section */

.testimonial-section {
    width: 100%;
    background-color: white;
}
.testimonial-section .container {
    width: 100%;
}
.testimonial-section .card-container {
    overflow: hidden;
    position: relative;
}
.testimonial-section #first-card {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 2s ease;

    transform: translateX(00%);
}
.testimonial-section #second-card {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 2s ease;
    transform: translateX(100%);
}
.testimonial-section .feed-back-title .container {
    text-align: center;
}
.testimonial-section .feed-back-title h2 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: "SourceSansPro-Semibold";
    font-weight: 800;
    font-size: 40px;
    line-height: 30px;
    color: #333333;
}
.testimonial-section .feed-back-title .border {
    border-top: 1.5px solid #ff305b;
    width: 15%;
    margin: auto;
    position: relative;
}

.testimonial-section .feed-back-title .border::after {
    content: "";
    border-top: 1px solid #ff305b;
    width: 50%;
    /* background-color: red; */

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 4px);
}
.testimonial-section .feed-back-title .border::before {
    content: "";
    border-top: 1px solid #ff305b;
    width: 50%;
    /* background-color: red; */

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -6px);
}

.testimonial-section .feed-back-card .container {
    /* border: 2px solid green; */

    background-color: #f1f1f1;
    width: 70%;
    margin: auto;
}
.testimonial-section .feed-back-card .image {
    width: 18%;
    float: left;
    /* background: linear-gradient(to bottom right, red 0%, red 50%, transparent 50%); */
    padding-top: 150px;
    position: relative;
}
.testimonial-section .feed-back-card .image .layer {
    background-color: #ff305b;
    height: 150%;
    width: 150%;

    position: absolute;
    top: 0;
    left: 0;
}
.feed-back-card .image img {
    width: 85%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40%, 40%);
}
.testimonial-section .feed-back-card .details {
    width: 80%;
    height: 100%;
    padding: 50px;
    float: left;
}

.testimonial-section .feed-back-card .details .user-name {
    text-transform: capitalize;
    font-family: "SourceSansPro-Regular";
    color: #555555;
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
}

.testimonial-section .feed-back-card .location {
    margin: 10px 0px;
    font-family: "SourceSansPro-Regular";
}
.testimonial-section .feed-back-card .location a {
    text-decoration: none;
    color: #777;
}
.testimonial-section .feed-back-card .location i {
    font-size: 16px;
    line-height: 25px;
}
.testimonial-section .feed-back-card .details .review {
    font-family: "Roboto-Italic";
    color: #555555;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.testimonial-section .feed-back-card .rating {
    margin: 15px 0px;
}

.testimonial-section .buttons {
    width: 10%;
    margin: auto;
}
.testimonial-section .buttons .btn1,
.btn2 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0px 5px;
    border: 1px solid #ff305b;
}

.testimonial-section .buttons .btn1:hover {
    cursor: pointer;
}
.testimonial-section .buttons .btn2:hover {
    cursor: pointer;
}

/* #endregion testimonial-section */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region blog-section */

.blog-section {
    width: 100%;
    background-color: #f1f1f1;
}

.blog-section .container {
    /* border: 2px solid blueviolet; */
    /* background-color: blue; */
    /* width: 100%; */
}
.blog-section .blog-title .container {
    text-align: center;
}
.blog-section .blog-title h2 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: "SourceSansPro-Semibold";
    font-weight: 800;
    font-size: 40px;
    line-height: 30px;
    color: #333333;
}
.blog-section .blog-title .border {
    border-top: 1.5px solid #ff305b;
    width: 15%;
    margin: auto;
    position: relative;
}
.blog-section .blog-title .border::after {
    content: "";
    border-top: 1px solid #ff305b;
    width: 50%;
    /* background-color: red; */

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 4px);
}
.blog-section .blog-title .border::before {
    content: "";
    border-top: 1px solid #ff305b;
    width: 50%;
    /* background-color: red; */

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -6px);
}

.blog-section .blog-card {
    width: calc(100% / 3);
    float: left;
}
.blog-section .blog-card .container {
    /* margin: 0px 0px; */
    width: 90%;
}
.blog-section .blog-card .card-container {
    width: 100%;
    background-color: #ffffff;
}
.blog-section .blog-card .blog-card-date {
    text-transform: capitalize;
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #555555;
    padding: 0px 15px;

    padding-top: 10px;
}
.blog-section .blog-card .blog-card-title a {
    text-transform: capitalize;
    color: #555555;
    display: block;
    padding: 0px 15px;
    padding-top: 10px;
    text-decoration: none;
    font-family: "SourceSansPro-Regular";
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
}
.blog-section .blog-card .blog-card-title a:hover {
    color: #ff305b;
}
.blog-section .blog-card .blog-card-details {
    padding: 20px 15px;
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #555555;
}
.blog-section .blog-card .read-more {
    padding: 0px 0px 20px 15px;
}
.blog-section .blog-card .read-more a {
    text-decoration: none;
    text-transform: uppercase;
    color: #555555;
}

.blog-card .read-more:hover a {
    color: #ff305b;
}
/* #endregion blog-section */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region contact-section */

.contact-section {
    width: 100%;
    background-color: white;
    /* background-color: red; */
}
.contact-section .container {
    width: 60%;
}
.contact-section .contact-title .container {
    width: 100%;
    text-align: center;
    /* background-color: lightgreen; */
}
.contact-section .contact-title h2 {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: "SourceSansPro-Semibold";
    font-weight: 800;
    font-size: 40px;
    line-height: 30px;
    color: #333333;
}
.contact-section .contact-title .border {
    border-top: 1.5px solid #ff305b;
    width: 15%;
    margin: auto;
    position: relative;
}
.contact-section .contact-title .border::after {
    content: "";
    border-top: 1px solid #ff305b;
    width: 50%;
    /* background-color: red; */

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, 4px);
}
.contact-section .contact-title .border::before {
    content: "";
    border-top: 1px solid #ff305b;
    width: 50%;
    /* background-color: red; */

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -6px);
}

.contact-section .form-container {
    /* background-color: lightseagreen; */
    /* width: 80%; */
    text-align: left;
    margin: auto;
}
.contact-section .form-container #name,
#email {
    width: 48%;
}
.contact-section .form-container #email {
    margin-left: 3.3%;
}
.contact-section .form-container #subject {
    width: 100%;
}

input {
    width: 40%;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 0.5px solid #777;
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 14px;
}
textarea {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 0.5px solid #777;
}
.contact-section .form-container form button {
    border-radius: 5px;
    border: none;
    width: 160px;
    height: 50px;
    margin: 10px 0px;
    vertical-align: middle;
    background-color: #ff305b;
    color: white;
    text-align: center;
    text-transform: uppercase;

    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
}
.contact-section .form-container form button:hover {
    cursor: pointer;
}
/* #endregion contact-section */
/*****************************/
/*****************************/

/*****************************/
/*****************************/
/* #region Footer */

.footer {
    width: 100%;
    padding: 80px 50px;
    background-color: #333333;
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.footer .links .links-container {
    text-align: center;
    width: 30%;
    /* background-color: red; */
    margin: auto;
    padding: 15px;
}
.footer .links-container i {
    margin: 0px 10px;
    color: #f1f1f1;
    transition: color 0.5s;
}
.footer .links-container a:hover i {
    color: #ff305b;
}
.footer p {
    text-align: center;
    color: #f1f1f1;
    text-transform: capitalize;
}
.footer p a {
    text-decoration: none;
    color: #ff305b;
}
/* #endregion Footer */
/*****************************/
/*****************************/
